Repository SSAFY-07-05/Algorithm-Study, pull requests merged in 2022-05, with the labels that each got.

#183 Feat: Add solution of #181
  src/BaekJoon/wonsyn/17142/Main.java
Labels: java, wonsyn

#184 Feat: Add solution of #181
  src/BaekJoon/seokchain/17142/Main.java
Labels: java, seokchain

#186 Feat: Add solution of #185
  src/BaekJoon/wonsyn/1922/Main.java
Labels: java, wonsyn

#188 Feat: Add solution of #185
  src/BaekJoon/seokchain/1922/Main.java
Labels: java, seokchain

#194 Feat:Add solution of #189
  src/Programmers/sa11k/lv1_키패드누르기/Solution.java
Labels: java, sa11k

#192 Feat: Add solution of #189
  src/Programmers/seokchain/lv1_키패드누르기/Solution.java
Labels: java, seokchain

#197 Feat: Add solution of #190
  src/Programmers/wonsyn/lv1_키패드누르기/Solution.java
  src/Programmers/wonsyn/lv2_타겟넘버/Solution.java
Labels: java, wonsyn

#196 Feat: Add solution of #190
  src/Programmers/seokchain/lv2_타겟넘버/Solution.java
Labels: java, seokchain
