Repository SSAFY-07-05/Algorithm-Study, pull requests merged in 2022-02, with the labels that each got.

#6 Feat: Add Solution of #1
  src/BaekJoon/sa11k/2309/Main.java
Labels: java, sa11k

#8 Feat: Add solution of #1
  src/BaekJoon/seokchain/2309/Main.java
Labels: java, seokchain

#7 Feat: Add Solution of #1
  src/BaekJoon/wonsyn/2309/Main_bj_2309_일곱난쟁이.java
  src/BaekJoon/wonsyn/9012/Main.java
Labels: java, wonsyn

#11 Feat: Add solution of #9
  src/BaekJoon/sa11k/9012/Main.java
Labels: java, sa11k

#10 Feat: Add Solution of #9
  src/BaekJoon/wonsyn/9012/Main.java
Labels: java, wonsyn

#13 Feat: Add solution of #9
  src/BaekJoon/seokchain/9012/Main.java
Labels: java, seokchain

#17 Seokchain
  src/BaekJoon/seokchain/2304/Main.java
Labels: java, seokchain

#18 Feat: Add solution of #14
  src/BaekJoon/sa11k/2477/Main.java
Labels: java, sa11k

#20 Feat: Add solution of #14
  src/BaekJoon/seokchain/2477/Main.java
Labels: java, seokchain

#19 Feat: Add solution of #14
  src/BaekJoon/wonsyn/2477/Main.java
Labels: java, wonsyn

#22 Feat: Add solution of #21
  src/BaekJoon/sa11k/2116/Main.java
Labels: java, sa11k

#23 Feat: Add solution of #21
  src/BaekJoon/seokchain/2116/Main.java
Labels: java, seokchain

#24 Feat: Add solution of #21
  src/BaekJoon/wonsyn/2116/Main.java
Labels: java, wonsyn

#28 Feat: Add solution of #25
  src/BaekJoon/wonsyn/2491/Main.java
Labels: java, wonsyn

#26 Feat: Add solution of #25
  src/BaekJoon/sa11k/2491/Main.java
Labels: java, sa11k

#32 Feat: Add solution of #27
  src/BaekJoon/sa11k/2559/Main.java
Labels: java, sa11k

#31 Feat: Add solution of #27
  src/BaekJoon/wonsyn/2559/Main.java
Labels: java, wonsyn

#33 Feat: Add solution of #27
  src/BaekJoon/seokchain/2559/Main.java
Labels: java, seokchain

#35 Feat: Add solution of #30
  src/BaekJoon/sa11k/2527/Main.java
Labels: java, sa11k

#36 Feat: Add solution of #30
  src/BaekJoon/wonsyn/2527/Main.java
Labels: java, wonsyn

#40 Feat: Add solution of #34
  src/BaekJoon/sa11k/2564/Main.java
Labels: java, sa11k

#39 Feat: Add solution of #34
  src/BaekJoon/wonsyn/2564/Main.java
Labels: java, wonsyn

#44 Feat: Add solution of #38
  src/BaekJoon/seokchain/2578/Main.java
Labels: java, seokchain

#42 Feat: Add solution of #38
  src/BaekJoon/sa11k/2578/Main.java
Labels: java, sa11k

#48 Feat:Add solution of #45
  src/BaekJoon/seokchain/2605/Main.java
Labels: java, seokchain

#47 Feat:Add solution of #45
  src/BaekJoon/sa11k/2605/Main.java
Labels: java, sa11k

#46 Feat: Add solution of #45
  src/BaekJoon/wonsyn/2605/Main.java
Labels: java, wonsyn

#50 Feat: Add solution of #49
  src/BaekJoon/wonsyn/2628/Main.java
Labels: java, wonsyn

#52 Feat:Add solution of #49
  src/BaekJoon/seokchain/2628/Main.java
Labels: java, seokchain

#51 Feat:Add solution of #49
  src/BaekJoon/sa11k/2628/Main.java
Labels: java, sa11k

#55 Feat: Add solution of #53
  src/BaekJoon/sa11k/2635/Main.java
Labels: java, sa11k

#54 Feat: Add solution of #53
  src/BaekJoon/wonsyn/2635/Main.java
Labels: java, wonsyn

#56 Feat: Add solution of #53
  src/BaekJoon/seokchain/2635/Main.java
Labels: java, seokchain
