Repository SSAFY-07-05/Algorithm-Study, pull requests merged in 2022-03, with the labels that each got.

#59 Feat:Add solution of #57
  src/BaekJoon/sa11k/13458/Main.java
Labels: java, sa11k

#58 Feat: Add solution of #57
  src/BaekJoon/wonsyn/13458/Main.java
Labels: java, wonsyn

#60 Feat:Add solution of #57
  src/BaekJoon/seokchain/13458/Main.java
Labels: java, seokchain

#63 Feat: Add solution of #61
  src/BaekJoon/seokchain/14501/Main.java
Labels: java, seokchain

#62 Feat: Add solution of #61
  src/BaekJoon/wonsyn/14501/Main.java
Labels: java, wonsyn

#64 Feat: Add solution of #61
  src/BaekJoon/sa11k/14501/Main.java
Labels: java, sa11k

#66 Feat: Add solution of #65
  src/BaekJoon/wonsyn/16234/Main.java
Labels: java, wonsyn

#68 Feat: Add solution of #65
  src/BaekJoon/seokchain/16234/Main.java
Labels: java, seokchain

#70 Feat: Add solution of #69
  src/BaekJoon/wonsyn/14981/Main.java
Labels: java, wonsyn

#71 Feat:Add solution of #69
  src/BaekJoon/sa11k/14891/Main.java
Labels: java, sa11k

#76 Feat: Add solution of #73
  src/BaekJoon/seokchain/14503/Main.java
Labels: java, seokchain

#75 Feat: Add solution of #73
  src/BaekJoon/wonsyn/14503/Main.java
Labels: java, wonsyn

#74 Fead:Add solution of #73
  src/BaekJoon/sa11k/14503/Main.java
  src/BaekJoon/sa11k/14891/Main.java
Labels: java, sa11k

#79 Feat: Add solution of #77
  src/BaekJoon/seokchain/14503/Main.java
  src/BaekJoon/seokchain/20055/Main.java
Labels: java, seokchain

#78 Feat: Add solution of #77
  src/BaekJoon/wonsyn/20055/Main.java
Labels: java, wonsyn

#80 Feat:Add solution of #77
  src/BaekJoon/sa11k/20055/Main.java
Labels: java, sa11k

#85 Feat: Add solution of #81
  src/BaekJoon/wonsyn/14891/Main.java
  src/BaekJoon/wonsyn/17140/Main.java
Labels: java, wonsyn

#82 Feat:Add solution of #81
  src/BaekJoon/sa11k/14891/Main.java
  src/BaekJoon/sa11k/17140/Main.java
Labels: java, sa11k

#87 Feat:Add solution of #83
  src/BaekJoon/sa11k/17136/Main.java
Labels: java, sa11k

#86 Feat: Add solution of #83
  src/BaekJoon/wonsyn/17136/Main.java
Labels: java, wonsyn

#96 Feat:Add solution of #93
  src/BaekJoon/sa11k/14888/Main.java
Labels: java, sa11k

#94 Feat: Add solution of #93
  src/BaekJoon/wonsyn/14888/Main.java
Labels: java, wonsyn

#95 Feat: Add solution of #93
  src/BaekJoon/seokchain/14888/Main.java
Labels: java, seokchain

#99 Feat: Add solution of #97
  src/BaekJoon/wonsyn/14890/Main.java
Labels: java, wonsyn

#100 Feat: Add solution of #97
  src/BaekJoon/seokchain/14890/Main.java
Labels: java, seokchain

#102 Feat: Add solution of #101
  src/BaekJoon/wonsyn/20057/Main.java
Labels: java, wonsyn

#104 Feat: Add solution of #101
  src/BaekJoon/seokchain/20057/Main.java
Labels: java, seokchain

#105 Feat:Add solution of #101
  src/BaekJoon/sa11k/20057/Main.java
Labels: java, sa11k

#108 Feat Add solution of #103
  src/BaekJoon/seokchain/20057/Main.java
  src/BaekJoon/seokchain/2583/Main.java
Labels: java, seokchain

#106 Feat: Add solution of #103
  src/BaekJoon/wonsyn/2583/Main.java
Labels: java, wonsyn

#111 Feat:Add solution of #109
  src/BaekJoon/sa11k/18429/Main.java
Labels: java, sa11k

#112 Feat: Add solution of #109
  src/BaekJoon/seokchain/18429/Main.java
Labels: java, seokchain

#110 Feat: Add solution of #109
  src/BaekJoon/wonsyn/18429/Main.java
Labels: java, wonsyn
